extends layout
block css
	link(rel='stylesheet', href='/stylesheets/homepage.css')
block content
	a.th.banner.fw400(href="http://niche.co" target="_blank")
		span SourcePad client Niche acquired
		br
		span by Twitter for $30 million
	.content.text-center.row
		//- .col-md-offset-1.col-md-10.th Bringing an idea into the marketplace is hard work. It’s also extremely rewarding. At SourcePad, we’ve worked with 100+ businesses to do just that. So, whether you’re bootstrapped, seed/VC funded or profit positive, we can help. Oh, and we love this stuff.
		.col-md-offset-1.col-md-10
			.loadingdiv
				h1.fs5.mno.th.loading#load We Build Ideas
				p.sub.th.mtop20.fw400.fw300
					span We’ve built web and mobile applications
					br
					span for 100+ companies since 2008.
	script(src="/javascripts/loading.js")
	.clearfix.mtop-50
	.row.text-center.th.mtop-100.col-md-12
		a.down-arrow.bounce ^
	.row
		.loadingdiv2
			h2.text-center.fs3
				| Built for Entrepreneurs, by entrepreneurs.
			h3.text-center.sub.fw300
				| Our founders have created 4 companies, raised $20 million and had 2 exits.
			.row.text-center.ptop50.pbtm60
				a.btn.btn-default.btn-md(href="/work") Learn More
	.row
		.portfolio.ptop100.th.col-md-offset-1.col-md-10
			h2.text-center.fs3.pbtm40.row.clients Our clients are reshaping the world.
			each work, i in works
				.square(class=work.size + ' ' + work.title)
					a(href="work/"+work.title)
						if work.label
							.content2.text-right
								span.label(class=work.labelcolor)= work.label
						.content
							img(src='/images/'+work.title+' logo.png')
							if work.sub
								.sub.mtop20.plr20.txt-w= work.sub
			.row.text-center.ptop100.pbtm60
				a.btn.btn-default.btn-md(href="/work") View More
	.news.th.ptop100
		h2.text-center.fs3.pbtm40.row Latest News
		.new.pbtm40.col-md-6.col-md-offset-3
			.title.pbtm10.fw400
				a(href="#") Plum Alley's CEO (SourcePad client) named a Gamechanger
			.description.ptop10 Having great taste is one of the most important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that which is bad....
		.new.pbtm40.col-md-6.col-md-offset-3
			.title.pbtm10.fw400
				a(href="#") Plum Alley's CEO (SourcePad client) named a Gamechanger
			.description.ptop10 Having great taste is one of the most important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that which is bad....
		.new.pbtm40.col-md-6.col-md-offset-3
			.title.pbtm10.fw400
				a(href="#") Plum Alley's CEO (SourcePad client) named a Gamechanger
			.description.ptop10 Having great taste is one of the most important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that which is bad....


block script
	script(src="/javascripts/index.js")