extends layout

block content
	a.th.banner(href="http://niche.co") SourcePad client Niche acquired by Twitter for $30 million
	.content.ptop100.text-center.row
		.col-md-offset-1.col-md-10.th Bringing an idea into the marketplace is hard work. It’s also extremely rewarding. At SourcePad, we’ve worked with 100+ businesses to do just that. So, whether you’re bootstrapped, seed/VC funded or profit positive, we can help. Oh, and we love this stuff.
		.col-md-offset-1.col-md-10.ptop100
			h1.fs5.loading We Build Ideas
			p.th Since 2008, we’ve built web and mobile applications for 100+ businesses.

	.portfolio.ptop100.th
		.row.fleft
			.square.s50.niche
				.content
					.title Niche
					.sub Since 2008, we’ve built web and mobile applications for 100+ businesses.
			.square.s50.sp50.theweek
				.content
					.title The Week
					.sub Since 2008, we’ve built web and mobile applications for 100+ businesses.
			.square.s25.museum
				.content
					.title 1000museums
					.sub Since 2008, we’ve built web and mobile applications for 100+ businesses.
			.square.s25.eneighbor
				.content
					.title eNeighbor
					.sub Since 2008, we’ve built web and mobile applications for 100+ businesses.
		.row.fright
			.square.s50.trueandco
				.content
					.title True&Co
					.sub Since 2008, we’ve built web and mobile applications for 100+ businesses.
			.square.s50.sp50.flexport
				.content
					.title Flexport
					.sub Since 2008, we’ve built web and mobile applications for 100+ businesses.
			.square.s25.wizpert
				.content
					.title Wizpert
					.sub Since 2008, we’ve built web and mobile applications for 100+ businesses.
			.square.s25.tengrade
				.content
					.title Tengrade
					.sub Since 2008, we’ve built web and mobile applications for 100+ businesses.
	.news.th.ptop100
		h2.text-center.fs3.pbtm40.row Latest News
		.new.pbtm40.col-md-12
			.col-md-2
				.thumbnail(style="img")
			.col-md-10
				.title.pbtm10
					a(href="#") Plum Alley's CEO (SourcePad client) named a Gamechanger
				span.details
					span.by Posted by
					a.name(href="#")  Mac Ramos
					span  on
					a.date(href="#")  Nov. 2, 2015
				.description.ptop10 Having great taste is one of the most important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that which is bad....
		.new.pbtm40.col-md-12
			.col-md-2
				.thumbnail(style="img")
			.col-md-10
				.title.pbtm10
					a(href="#") Plum Alley's CEO (SourcePad client) named a Gamechanger
				span.details
					span.by Posted by
					a.name(href="#")  Mac Ramos
					span  on
					a.date(href="#")  Nov. 2, 2015
				.description.ptop10 Having great taste is one of the most important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that which is bad....
		.new.pbtm40.col-md-12
			.col-md-2
				.thumbnail(style="img")
			.col-md-10
				.title.pbtm10
					a(href="#") Plum Alley's CEO (SourcePad client) named a Gamechanger
				span.details
					span.by Posted by
					a.name(href="#")  Mac Ramos
					span  on
					a.date(href="#")  Nov. 2, 2015
				.description.ptop10 Having great taste is one of the most important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that which is bad....


block script
	script(src="/javascripts/loading.js")