extends layout
block css

block content
	.plr10.text-center.works
		h2.fs3.pbtm40.ptop50 News
	.news.text-left.col-md-6.col-md-offset-3
		.new.pbtm40
			.title.pbtm10.fw400
				a(href="#") Plum Alley's CEO (SourcePad client) named a Gamechanger
			.description.ptop10 Having great taste is one of the most important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that which is bad....
		.new.pbtm40
			.title.pbtm10.fw400
				a(href="#") Plum Alley's CEO (SourcePad client) named a Gamechanger
			.description.ptop10 Having great taste is one of the most important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that which is bad....
		.new.pbtm40
			.title.pbtm10.fw400
				a(href="#") Plum Alley's CEO (SourcePad client) named a Gamechanger
			.description.ptop10 Having great taste is one of the most important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that which is bad....
block script
	script(src="/javascripts/contact.js")