extends layout
block css

block content
	.plr10.text-center.works
		h2.fs3.pbtm40.ptop50 News
	.news.text-left
		.new.pbtm40.col-md-10.col-md-offset-1
			.title.pbtm10.fw400
				a(href="#") Plum Alley's CEO (SourcePad client) named a Gamechanger
			span.details
				span.by Posted by
				a.name(href="#")  Mac Ramos
				span  on
				a.date(href="#")  Nov. 2, 2015
			.description.ptop10 Having great taste is one of the most important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that which is bad....
		.new.pbtm40.col-md-10.col-md-offset-1
			.title.pbtm10.fw400
				a(href="#") Plum Alley's CEO (SourcePad client) named a Gamechanger
			span.details
				span.by Posted by
				a.name(href="#")  Mac Ramos
				span  on
				a.date(href="#")  Nov. 2, 2015
			.description.ptop10 Having great taste is one of the most important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that which is bad....
		.new.pbtm40.col-md-10.col-md-offset-1
			.title.pbtm10.fw400
				a(href="#") Plum Alley's CEO (SourcePad client) named a Gamechanger
			span.details
				span.by Posted by
				a.name(href="#")  Mac Ramos
				span  on
				a.date(href="#")  Nov. 2, 2015
			.description.ptop10 Having great taste is one of the most important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that which is bad....
block script
	script(src="/javascripts/contact.js")