.th{
	opacity: 0;
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?tyxd2v');
	src:url('../fonts/icomoon.eot?tyxd2v#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?tyxd2v') format('truetype'),
		url('../fonts/icomoon.woff?tyxd2v') format('woff'),
		url('../fonts/icomoon.svg?tyxd2v#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e900";
}
.icon-twitter:before {
	content: "\e901";
}
.icon-linkedin2:before {
	content: "\e902";
}

body{
	overflow-x:hidden !important;
}
html, body{
	width: 100%;
	height: 100%;
}
body {
  font: 19px "Lato", Helvetica, Arial, sans-serif;
  color: #40413d;
  letter-spacing: .6px;
  margin: 10;
  font-weight: 300;
  line-height: 1.5;
}
a:hover{
	text-decoration: none;
}
.fleft > div{
	float:left;
}
.fright > div{
	float: right;
}
.loadingdiv{
	height:calc(100vh - 70px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.square {
	position: relative;
    box-shadow:0px 0px 0px 1.5vw #fff inset;
    overflow:hidden;
    background: no-repeat scroll center center / cover  rgba(0, 0, 0, 0);
    opacity: .9;
	cursor: pointer;
	/*animation: shadowFadeOut 1s;*/
	transition: opacity .5s ease-in-out;
}
.square:hover {
	opacity: none;
}
/*.square:hover .content {
    opacity: 1 !important;
}*/
.square .content {
    position: absolute;
    height: 50%;
    width: 100%;
    margin: 35% 0 0 0;
    padding: 0 5%;
    text-align: center;
    /*background: rgba(255,255,255,.75);*/
    transition:opacity 0.5s linear;
    /*opacity: 0;*/
}
.square .content2 {
    position: absolute;
    height: 37%;
    width: 100%;
    margin: 7% 0 0 0;
    padding: 1.5vw;
}
.square .content2 a{
	    background: rgba(0,0,0,.6);
    color: #fff;
    padding: 15px;
    margin: 11% 0;
    box-shadow: -3px 2px 5px .5px rgba(99, 99, 99, 0.5);
    font-size: 15px;
    font-weight: 100;
}
.square .content2 a:hover{
    box-shadow: -3px 5px 10px .5px rgba(99, 99, 99, 0.5);
}
.square.sp50 .content{
	height: 50%;
	margin-top: 25%;
}
.square.s25 .content{
	height: 50%;
	margin-top: 43%;
}
.square.s25 .content .sub{
	font-size: 13px;
} 
.square .niche .title{
	background-image: url('/images/niche logo.png')
}
.content{
	height: 90vh
}
.niche{
	background-image: url('/images/niche.png')
}
.trueandco{
	background-image: url('/images/trueandco.png')
}
.theweek{
	background: url('/images/theweek.png')
}
.flexport{
	background-image: url('/images/flexport.png')
}
.museum{
	background-color: #fbfbfb;
}
.eneighbor{
	background-image: url('/images/eneighbr.png');
	background-repeat: repeat;
	background-size: auto;
}
.wizpert{
	background-color: #a2a2a2
}
.tengrade{
	background-repeat: repeat;
	background-size: auto;
	background-image: url('/images/tengrade.png')
}
.s50{
	width: 50%;
	padding-bottom: 50%;
}
.s25{
	width: 25%;
	padding-bottom: 25%;
}
.sp50{
	padding-bottom: 25%;
}
.btn{
	border: 0;
	border-radius: 0;
	padding:1vw 2vw;
	text-transform: uppercase;
	font-weight: 700;
}
.btn-lg{
	padding:1.5vw 2.5vw;
}
.btn-md{
	padding:.7vw 1.3vw;
}
.btn-default{
	background: #f3f3f3;
	color: #1d83c6;
}
.btn-default:hover{
	background: #1d83c6;
	color: #fff;
}
.navbar-default{
	background: #fff;
	border: 0;
}
.navbar-brand{
	padding: 15px 0;
	width: 161px;
}
.navbar-default .navbar-nav > li > a{
	color: inherit;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
	margin-left: 50px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a{
	background: #f3f3f3;
}
.th{
	transition:opacity 0.5s linear;
}
.banner{
	position: absolute;
	width: 300px;
	background: #fbfbfb;
	top: 81px;
	text-align: left;
	padding: 14px;
	line-height: 1;
	color: #007fc8;
	font-size: 16px;
	right: 0;
	z-index: 1;
}
.banner:hover{
	box-shadow: 0px 1px 2px 0.5px rgba(99, 99, 99, 0.1);
}
.new .title{
	font-size: 29px;
	color: #40413d;
}
.new .title a{
	color: #40413d;
}
.new .title a:hover{
	color: #1d83c6;
}
.new .details{
	font-size: 15px;
}
.new .thumbnail{
	width: 100%;
	height: 150px;
	background: gray;
	padding:0;
	margin-top: 10px;
}
.sub{
	font-size: 23px;
}
.down-arrow{
	font-size: 60px;
	cursor:pointer;
	color:#40413d;
	display: inline-block;
    *display: inline; /* Used to get IE 6 & 7 to behave */
    zoom: 1; /* Used to get IE 6 & 7 to behave */
    -webkit-transform: rotate(180deg) scale(1.5,1); 
       -moz-transform: rotate(180deg) scale(1.5,1); 
        -ms-transform: rotate(180deg) scale(1.5,1); 
         -o-transform: rotate(180deg) scale(1.5,1);  
            transform: rotate(180deg) scale(1.5,1);
               filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}
.bounce{
	-moz-animation: bounce 2s 1;
	-webkit-animation: bounce 2s 1;
	animation: bounce 2s 1;
}
/*@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}*/
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}/*
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}*/
/*  */
.txt-w{
	color: #fff;
}
h1{
	font-weight: 700;
}
.fw400{
	font-weight: 400;
}
.fs5{
	font-size: 5vw;
}
.fs3{
	font-size: 3vw;
}
.ptop10{
	padding-top: 10px;
}
.ptop20{
	padding-top: 20px;
}
.ptop100{
	padding-top: 100px;
}
.pbtm20{
	padding-bottom: 20px;
}
.pbtm10{
	padding-bottom: 10px;
}
.pbtm40{
	padding-bottom: 40px;
}
.pbtm60{
	padding-bottom: 60px;
}
.plr20{
	padding: 0 20%;
}
.mlft20{
	margin-left: 20px;
}
.mtop20{
	margin-top: 20px;
}
.mtop-100{
	margin-top: -100px;
}
.mno{
	margin: 0
}

@media(min-width:1px) {
 .navbar-header {
    float: none;
    margin-left: 2%;
}
.navbar-left,.navbar-right {
    float: none !important;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
    margin-top: 7.5px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.collapse.in{
    display:block !important;
}
.navbar-default .navbar-toggle{
	border:0;
}
.navbar-nav{
	text-align: right;
	z-index: 5;
	background: #fff;
	opacity: 1;

}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border: none;
}
}