.single{
	background: no-repeat scroll center center / cover  rgba(0, 0, 0, 0);
	transition: all .5s ease;
}
.square{
	background-size:cover;
	transition: all .5s ease;
	opacity: .3;
}
.square.active, .square:hover{
	opacity: 1
}

.works .single{
    background-color: #fff;
}
.single img{
	width: 100%;
    height: auto;
    border: 1px solid #ecf0f1;
}