extends ../layout

block content
	.plr10.text-center.works
		h2.fs3.pbtm40.ptop50 Works
		p Having great taste is one of the most important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that which is bad

		.nav-center
			ul.nav.nav-pills.ptop100(role='tablist')
				li.active(role='presentation')
					a(href='#all', aria-controls='all', role='tab', data-toggle='tab') All
				li(role='presentation')
					a(href='#web', aria-controls='web', role='tab', data-toggle='tab') Web
				li(role='presentation')
					a(href='#mobile', aria-controls='mobile', role='tab', data-toggle='tab') Mobile
		.tab-content.ptop50
			#all.tab-pane.active(role='tabpanel')
				each work, i in works
					.col-md-6.p1p
						a.work(style="background-image:url(/images/works/"+work.title+"1.jpg)" href="works/"+work.title)
			#web.tab-pane(role='tabpanel')
				each work, i in works
					if work.type == 1
						.col-md-6.p1p
							a.work(style="background-image:url(/images/works/"+work.title+"1.jpg)" href="works/"+work.title)
			#mobile.tab-pane(role='tabpanel')
				each work, i in works
					if work.type == 2
						.col-md-6.p1p
							a.work= work.name