extends ../layout

block content
	.plr10.works
		h2.text-center.fs3.pbtm40.ptop50= title

		.col-md-12.single
		.clearfix
		.col-md-12.fleft.pno
			.square.s10
			.square.s10
		.clearfix
		.desc.ptop50
			p Having great taste is one of the most important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that which is important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that which
			p If the most important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that ristics of designers, programmers, and managers alike. Being able to discern what’s good from that whichristics of designers, programmers, and managers alike. Being able to discern
		.ptop100
		.col-md-12.pno
			a.btn.btn-default.btn-md(href="/works") https://www.
				= title
				| .com

block script
	script(src="/javascripts/sample.js")