extends ../layout
block css
	link(rel='stylesheet', href='/stylesheets/works.show.css')
block content
	.nav
		a.prev ‹
		a.next ›
	#carousel.carousel.slide(data-ride="carousel" data-interval="false")
		.carousel-inner(role="listbox")
			.item.active(id= work.title)
				.plr10.works
					h2.text-center.fs3.pbtm40.ptop50= work.name
					.col-md-12.single.pno
						img(src="/images/works/"+work.title+".jpg")
					.clearfix
					.desc.ptop50
						p Having great taste is one of the most important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that which is important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that which
						p If the most important characteristics of designers, programmers, and managers alike. Being able to discern what’s good from that ristics of designers, programmers, and managers alike. Being able to discern what’s good from that whichristics of designers, programmers, and managers alike. Being able to discern
					.ptop100
					.col-md-12.pno
						a.btn.btn-default.btn-md(href="http://"+work.link target="_blank") http://
							= work.link
			

block script
	script(src='/javascripts/works.show.js')